ModuleChecks:
  git_user_name: "abc"
  packagist_user_name: "abc"
  # the variable below is not required, but allows you to check for additional ones that may not be listed on github
  modules: []

GitHubModule:
  git_user_name: "sunnysideup"
  github_account_base_url: "git://github.com"
  
  
  absolute_temp_folder: "/var/www/temp_modules"
  path_to_private_key: "/var/www/.ssh/id_rsa"
  
  #modules_to_update:
  #commands_to_run:
  #files_to_update:

    
